.is-hidden {
    position: absolute;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 1px;
}

.breed-select {
    width: 300px;
}

.img-cat {
    max-width: 100%;
}

.cat-info {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.information-cat {
    padding-top: 25px;
}

.header {
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    margin: 0 0 15px;
}

.descr {
    margin: 0 0 10px;
    max-width: 500px;
    font-size: 18px;
}

.temper {
    margin: 0;
    max-width: 500px;
    font-size: 18px;
}

.span-word {
    font-weight: 800;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-width: 3px 2px 3px 2px;
    border-style: solid dotted solid dotted;
    border-color: #de3500 rgba(255, 255, 255, 0.3) #030303 rgba(151, 107, 93, 0.3);
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;
}

.loader:before,
.loader:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    transform: translate(-10px, 19px) rotate(-35deg);
}

.loader:after {
    border-color: #de3500 #0000 #0000 #0000;
    transform: translate(32px, 3px) rotate(-35deg);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}